
button{
   font-size: 3vmin;
   width: 13vmin;
   margin: 3vmin;
}

.numbers {
    margin-top: 20vmin;
     font-size: 5vmin;
}

.one {
    display: flex;
   font-size: 7vmin;
   background-color: brown;
   color: black;
   padding: 2vmin;
}
.two {
   display: flex;
   font-size: 7vmin;
   background-color: brown;
   color: black;
   padding: 2vmin;

}
.dies {
   margin-top: 15vmin;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 4vmin;
}